footer{
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    padding: 40px;
    ul{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        justify-content: space-between;
        @media screen and (max-width: 376px){
            flex-direction: column;
            line-height: 2.5rem;
        }
    }
}