.intro{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
        h1{
            @media screen and (max-width: 500px){
                flex-direction: column;
            }
        }
        p{
            font-size: 1.5rem;
            font-weight: lighter;
        }
}

.catalogue{
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 3rem;
}

.recap{
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 3rem;
}

.panier{
    margin-bottom: 3rem;
}
